*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
#So we don't accidentally commit our private keys
*.gpg
/sample/iosApp/iosApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/sample/iosApp/iosApp/iosApp.entitlements
/sample/iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
/kotlin-js-store/wasm/yarn.lock
/kotlin-js-store/yarn.lock
